  <h1>MEET THE STOCKERS</h1>

  <%= link_to 'Login as Broker', new_broker_session_path%> 
  &nbsp; 
  <%= link_to 'Signup as Broker', new_broker_registration_path %>
  &nbsp; 
  <%= link_to 'Login as Buyer', new_buyer_session_path %> 
  &nbsp; 
  <%= link_to 'Signup as Buyer', new_buyer_registration_path %>






