<%= stylesheet_link_tag 'welcome.css' %>
<body class = "welcome">
<div id = "main-container" class = "container">
  <div class = "row">
    <div class = "col">
      <div>
        <p style="color:#31EDAD; font-size:1.5vw;"> MEET THE STOCKERS </p>
        <b> <p style="font-size:2vw; color:white;"> Buy and sell Bitcoin, Ether, XRP, and other cryptocurrencies.</p></b>
        <p style="font-size:1.3vw; color:white;"> Our exchange makes it easy and safe for you to buy and sell cryptocurrencies at the best prices.</p>
         <%= link_to 'Create an account', new_buyer_registration_path, class:'btn btn-success'%> 
      </div>
    </div>
    <div class = "col">
      <div class = "welcome-main-container">
      <%= image_tag("main_image.png", :alt => "rss feed") %>
      </div>
    </div>
  </div>
</div>
 </body>






