body.admin-edit-broker {
  background:#171F33;
}

.admin-form-container{
  display:flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.admin-form-edit{
  text-align: center;
  width: 50vw;
  background-color: #057D9F;
  color:white;
  font-family: 'Lato', sans-serif;
  border-radius: 25px;
}

