body.admin-new-buyer{
  background:#171F33;
}

.admin-form-container{
  display:flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.admin-form-register{
  text-align: center;
  width: 50vw;
  background-color: #585481;
  color:white;
  font-family: 'Lato', sans-serif;
  border-radius: 25px;
}
