.col-xs-6 {
  margin: 0 auto;
  // border: 2px solid black;
}
.this-table {
  width: 400px;
  line-height: 35px;
}
.table {
  color: white;
  background-color:rgba(0, 0, 0, 0.2)
}
.drop {
  margin-top: 5px;
}
.portfolio {
  // border: 2px solid black;
  padding: 20px;
  background-color: #202A3E;
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.performers {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 25px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
}
.broker-bg {
  background-color: #057D9F;
}
.stock-bg {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 0 300px;
  border-radius: 10px;
}
.form-control-lg {
  border: white;
}
.bottom {
  position: absolute;
  bottom: 0;
  left: 43%
}
.edit {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 0 auto;
  width: 500px;
  border-radius: 10px;
}